# Copy file này thành .env.local và điền các thông số để chạy web
# Lấy từ: https://discord.com/developers/applications
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Mật khẩu bí mật dùng để mã hóa Session của NextAuth (Bạn có thể điền 1 chuỗi ngẫu nhiên, vd: super_secret_123)
NEXTAUTH_SECRET=super_secret_discord_tnc_bot_12345

NEXTAUTH_URL=http://localhost:3000

# URL Webhook của Bot Discord để đồng bộ cấu hình realtime (Localhost khi test, đổi thành URL thật khi deploy)
BOT_WEBHOOK_URL=http://127.0.0.1:5000/api/webhook/reload
CHATBOT_WEBHOOK_URL=http://127.0.0.1:5001/api/webhook/reload
